.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: var(--corPrincipal);
  color: var(corSecundaria);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.result {
  font-size: 18px;
  margin-top: 20px;
}